{% extends "en/base.html" %} {% block email_title %}Password Reset -
Plannify{% endblock email_title %} {% block content %}
<p>Hello {{ full_name }},</p>
<p>We received a request to reset your Plannify password.</p>
<p>
  Click the button below to set a new password:
</p>
<div style="text-align: center; margin: 40px 0">
  <a
    href="{{ token_url }}"
    style="
      background-color: #4a7ab4;
      padding: 10px;
      border-radius: 10px;
      margin: 0 auto;
      color: white;
      text-decoration: none;
    "
    >Reset my password</a
  >
</div>

<p>
  This link is valid for
  <span style="font-weight: bold; text-decoration: underline"
    >{{ duration | default(value="15") }} minutes</span
  >
  from the receipt of this email.
</p>
<p>If you did not request a password reset, you can safely ignore this message.</p>

<p>Best regards,<br />Baptiste, the moderator of Plannify</p>
{% endblock content %}
