{% extends "fr/base.html" %} {% block email_title %}Désactivation de compte -
Plannify{% endblock email_title %} {% block content %}
<p>Bonjour {{ full_name }},</p>
<p>
  Votre demande de désactivation de compte a bien été prise en compte. Vous
  pouvez continuer à accéder à l'application Plannify jusqu'à la suppression
  complète de vos données.
</p>
{% if deactivation_date %}
<p>
  Votre compte sera définitivement supprimé le
  <span style="font-weight: bold">{{ deactivation_date }}</span>. Vous pouvez
  réactiver votre compte avant cette date en vous reconnectant à l'application
  et en effectuant une demande de réactivation.
</p>
{% endif %}
<p>Bien cordialement,<br />L'équipe de Plannify</p>
{% endblock content %}
