name: docker

on:
  push:
    tags:
      - "*.*.*"

env:
  REGISTRY: ghcr.io

permissions:
  contents: write
  packages: write

jobs:
  build-and-push:
    runs-on: ${{ matrix.runner.name }}
    strategy:
      matrix:
        runner:
          - name: self-hosted
            platform: linux/amd64
          - name: ubuntu-24.04-arm
            platform: linux/arm64

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: cache layers
        uses: actions/cache@v4
        with:
          path: ${{ runner.temp }}/.buildx-cache
          key: buildx-${{ runner.arch }}-${{ matrix.target }}-${{ github.sha }}
          restore-keys: |
            buildx-${{ runner.arch }}-${{ matrix.target }}-

      - name: get image metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ env.REGISTRY }}/${{ github.repository }}-${{ matrix.target }}

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          target: ${{ matrix.target }}
          platforms: ${{ matrix.runner.platform }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=local,src=${{ runner.temp }}/.buildx-cache
          cache-to: type=local,dest=${{ runner.temp }}/.buildx-cache-new,mode=max
          outputs: type=image,push-by-digest=true,name-canonical=true,push=${{ inputs.push || github.ref_name == github.event.repository.default_branch }}

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.28.0
        with:
          image-ref: "${{ env.REGISTRY }}/${{ github.repository }}:latest"
          format: "table"
          exit-code: "1"
          ignore-unfixed: true
          vuln-type: "os,library"
          severity: "CRITICAL,HIGH"

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          body: |
            ## Docker Image
            `${{ env.REGISTRY }}/${{ github.repository }}:${{ github.ref_name }}`

            ## Installation
            ```bash
            docker pull ${{ env.REGISTRY }}/${{ github.repository }}:${{ github.ref_name }}
            ```
